@font-face {
    font-family: Gotham-Bold;
    src: url(../assets/Gotham-Bold.woff);
}

h1{
    font-family: Gotham-Bold;
}
a{
    font-family: Gotham-Bold;
}
.rotate-90 {
    transform: rotate(90deg);
}

.calculator{
    animation: calculator 1.8s linear   ;
    z-index: 1;
}

@keyframes calculator {
    0%{
        transform: translateY(0px);
        opacity: 0.8;
        display: none;
    }
    50%{
        transform: translateY(450px);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        display: block;
    }
}
.caja{
    transform: rotate(360deg);
}
#pregunta{
    box-shadow: 10px 10px grey;
}